<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="root" :class="{dark: darkTheme, white: !darkTheme}">
        <header class="header">
            <div class="socials">
                <a href="https://github.com/romanenko1509">
                    <img src="img/github_l.png" alt="" v-if="darkTheme">
                    <img src="img/github.png" alt="" v-else>
                </a>
                <a href="https://www.linkedin.com/in/romanenko1509/">
                    <img src="img/linkedin_l.png" alt="" v-if="darkTheme">
                    <img src="img/linkedin.png" alt="" v-else>
                </a>
                <a href="https://t.me/romanenko1509">
                    <img src="img/telegram_l.png" alt="" v-if="darkTheme">
                    <img src="img/telegram.png" alt="" v-else>
                </a>
                <a href="https://join.skype.com/invite/fAhLX2Kuntxu">
                    <img src="img/skype_l.png" alt="" v-if="darkTheme">
                    <img src="img/skype.png" alt="" v-else>
                </a>
                <a href="mailto:romanenko15091999@icloud.com">
                    <img src="img/mail_l.png" alt="" v-if="darkTheme">
                    <img src="img/mail.png" alt="" v-else>
                </a>
                <a href="tel:+380500850161">
                    <img src="img/phone_l.png" alt="" v-if="darkTheme">
                    <img src="img/phone.png" alt="" v-else>
                </a>
            </div>
            <div class="toggleTheme" @click="toggleTheme">
                <img src="img/light.png" alt="" v-if="darkTheme">
                <img src="img/dark.png" alt="" v-else>
            </div>
        </header>
        <h1>Микита Романенко - Front-end developer <span>15.09.1999 (Харків, Україна)</span></h1>
        <p>Розробляю Front-End понад 4 роки. За плечима більше сотні успішно реалізованих проектів як у різних компаніях, так і на фрілансі. Я швидко підлаштовуюсь під завдання компанії, легко знаходжу спільну мову в команді, завжди готовий навчатися та розвиватися як фахівець. Адекватно оцінюю завдання, час та ресурси, необхідні для їх виконання, вмію швидко орієнтуватися у разі виникнення труднощів, беру на себе ініціативу при вирішенні проблем та покращення проекту.</p>
        <p>Займався розробкою з нуля та довгостроковою підтримкою ІМ на OpenCart. Робив лендінги, корпоративні сайти, розробляв відеохостинги. Був розробником на двох великих криптобіржах, займався написанням роботів у телеграм на Node.JS, роботів для обробки великих даних з БД, написання admin-панелей для роботи з даними. Останні кілька років заглибився в Shopify, працював як в аустсорсових, так і в продуктових компаніях на західний ринок.</p>
        <p>
        </p>
        <h2>Досвід роботи</h2>
        <ul>
            <li>
                <div class="cmpny_name">"Mamma Mia Covers"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Травень 2022 - Зараз</div>
            </li>
            <li>
                <div class="cmpny_name">"Overdose Digital"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Жовтень 2021 - Травень 2022</div>
            </li>
            <li>
                <div class="cmpny_name">"P2PB2B Exchange"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Грудень 2020 - Жовтень 2021</div>
            </li>
            <li>
                <div class="cmpny_name">"HTML Academy"</div>
                <div class="cmpny_pos">Наставник на курсі "Front-end розробник"</div>
                <div class="cmpny_time">Грудень 2020 - Липень 2021</div>
            </li>
            <li>
                <div class="cmpny_name">"WhiteBit Cryptocurrency Exchange"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Вересень 2020 - Грудень 2020</div>
            </li>
            <li>
                <div class="cmpny_name">"Mbunity Development"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Червень 2020 - Вересень 2020</div>
            </li>
            <li>
                <div class="cmpny_name">"Apricode Digital Agency"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Жовтень 2019 - Червень 2020</div>
            </li>
            <li>
                <div class="cmpny_name">"Aweb Systems"</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Вересень 2018 - Жовтень 2019</div>
            </li>
            <li>
                <div class="cmpny_name">Freelance</div>
                <div class="cmpny_pos">Front-end developer</div>
                <div class="cmpny_time">Лютий 2018 - Вересень 2018</div>
            </li>
        </ul>
        <h2>Навички</h2>
        <ul class="skills">
            <li>
                HTML (методології, семантика, валідність, доступність)
            </li>
            <li>
                CSS (різні бібліотеки та фреймворки [sass, less і т.д.], модульність, styled-components)                        </li>
            <li>
                JavaScript
                <ul>
                    <li>Next.js</li>
                    <li>React.js + Redux/Mobx + JSX</li>
                    <li>Vue.js + VueX</li>
                    <li>TypeScript</li>
                    <li>jQuery</li>
                    <li>Node.js (Написання ботів у Telegram, алгоритми для обробки даних)</li>
                    <li>API</li>
                </ul>
            </li>
            <li>
                Інструменти збирання проекту
                <ul>
                    <li>Gulp 3/4</li>
                    <li>Webpack</li>
                    <li>npm</li>
                </ul>
            </li>
            <li>Git</li>
            <li>
                Досвід роботи з CMS
                <ul>
                    <li>Laravel</li>
                    <li>WordPress</li>
                    <li>OpenCart</li>
                </ul>
            </li>
            <li>Досвід з PHP и БД (mySQL, MongoDB)</li>
            <li>Shopify</li>
            <li>Навички оптимізації ресурсу для Google Page Speed та SEO-Friendly оптимізації</li>
            <li>Вільне володіння Windows та UNIX-подібних систем (MacOS, Linux)</li>
        </ul>
        <h2>Портфоліо</h2>
        <ul class="projects">
            <li>
                Мій сайт-візитка
                <ul>
                    <li><a target="_blank" href="https://romanenko1509.github.io/contact-me/">Посилання</a></li>
                </ul>
            </li>
            <li>
                Великий E-Commerce проект для ринку США
                <ul>
                    <li><a target="_blank" href="https://mammamiacovers.com/">Посилання</a></li>
                </ul>
            </li>
            <li>
                Великий E-Commerce проект спортивного снарядження для ринку США
                <ul>
                    <li><a target="_blank" href="https://patagonia.com/">Посилання</a></li>
                </ul>
            </li>
            <li>
                Додаток для обліку особистих фінансів на Vue.js
                <ul>
                    <li><a target="_blank" href="https://vuefinancecrm.web.app/login?message=login">Посилання</a></li>
                    <li><a target="_blank" href="https://github.com/romanenko1509/VueFinanceManagementApplication">Вихідний код</a></li>
                </ul>
            </li>
            <li>
                Генератор паролів з історією на Vue.js
                <ul>
                    <li><a target="_blank" href="https://romanenko1509.github.io/Vue_Password_Generator/">Посилання</a></li>
                    <li><a target="_blank" href="https://github.com/romanenko1509/Vue_Password_Generator">Вихідний код</a></li>
                </ul>
            </li>
            <li>
                Погодний додаток на React.JS
                <ul>
                    <li><a target="_blank" href="https://romanenko1509.github.io/reactWeatherApp/">Посилання</a></li>
                    <li><a target="_blank" href="https://github.com/romanenko1509/reactWeatherApp">Вихідний код</a></li>
                </ul>
            </li>
            <li>
                Простий конвертер валют на чистому JS за допомогою PrivatBank API
                <ul>
                    <li><a target="_blank" href="https://romanenko1509.github.io/ExchangeRates/">Посилання</a></li>
                    <li><a target="_blank" href="https://github.com/romanenko1509/ExchangeRates">Вихідний код</a></li>
                </ul>
            </li>
            <li>
                Простий ToDo додаток з використанням MongoDB & Express.js
                <ul>
                    <li><a target="_blank" href="https://mongo-express-todo-app.herokuapp.com/">Посилання</a></li>
                    <li><a target="_blank" href="https://github.com/romanenko1509/mongo-express-todo-app">Вихідний код</a></li>
                </ul>
            </li>
            <li>
                Брав участь у розробці великого проекту – біржа криптовалют P2PB2B
                <ul>
                    <li><a target="_blank" href="https://p2pb2b.io/">Посилання</a></li>
                </ul>
            </li>
            <li>
                Комерційні проекти (інтернет-магазини, корпоративні сайти тощо)
                <ul>
                    <li><a target="_blank" href="https://gadgik.net/">gadgik.net</a></li>
                    <li><a target="_blank" href="https://bestbarber.com.ua/">bestbarber.com.ua</a></li>
                    <li><a target="_blank" href="https://tara.pet/">tara.pet</a></li>
                    <li><a target="_blank" href="https://barintoy.com/">barintoy.com</a></li>
                    <li><a target="_blank" href="https://agroambar.com/">agroambar.com</a></li>
                    <li>І багато інших</li>
                </ul>
            </li>
        </ul>
    </div>
<script src="vue.js"></script>
<script>
    new Vue({
        el: "#root",
        data: {
            darkTheme: false,
        },
        methods: {
            toggleTheme() {
                this.darkTheme = !this.darkTheme;
            }
        }
    })
</script>
</body>
</html>
