@font-face {
    font-family: 'VictorMono';
    src: url('fonts/VictorMono.ttf') format('truetype');
    font-weight: 100 700;
    font-style: normal;
    font-display: swap;
}

* {
    font-family: 'VictorMono', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.row {
    display: grid;
    background: #18191C;
    color: #FFF;
}

.sidebar {
    padding: 16px;
    background: #202225;
}

.main {
    padding: 16px;
}

.photo {
    border-radius: 50%;
    max-width: 300px;
    display: block;
    margin: 0 auto 16px;
}

.name {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}

.position {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.block__title {
    display: flex;
    align-items: center;
    margin: 20px 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
}

.block__title img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    border-radius: 50%;
    margin-right: 10px;
}

.block__text {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
}

.block__text ul {
    padding-left: 30px;
}

.block__text li {
    margin-bottom: 16px;
}

.block__text a:hover {
    text-decoration: underline;
}

.main .block__text {
    margin-bottom: 50px;
}

.contact__item {
    margin-bottom: 10px;
}

.exp__name {
    font-size: 18px;
    margin-bottom: 10px;
}

.exp__date {
    font-size: 14px;
}

.skills {
    font-weight: 700;
}

.skills ul {
    margin-top: 10px;
    font-weight: 300;
}

.skills a {
    font-weight: 700;
}

@media screen and (min-width: 991px) {
    .row {
        grid-template-columns: 1fr 2fr;
        grid-gap: 40px;
    }
    .main,
    .sidebar {
        padding: 30px;
    }
}
